*,*::before,*::after
{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
 
}


.nav-center
{
padding-right: -20px;
padding-left: 40px;
background-color:#EAEAEA;
height:70px;
filter: drop-shadow(3px 3px 5px black);
}

.nav-center h4
{

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color:white; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

}
.nav-center #link1
{position: absolute;
right: 250px;
top: 2px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color:white;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.nav-center #link2
{
position: absolute;
right:150px;
top: 2px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color:white;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.nav-links a
{
text-decoration: none;
}
.nav-links li
{
list-style: none;
}
.nav-links #link1:hover{
   color:yellow;
}
.nav-links #link2:hover{
   color: aqua;
}
main {
   min-height: calc(100vh - 3rem);
   display: grid;
   place-items: center;
 } 
main .container  
{

filter: drop-shadow(8px 10px 14px #ACACAC);
background:black;
border-radius: 10px;
text-align: center;}
.container h2
{
font-size: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #EAEAEA;
margin-left:50px;
margin-right:50px;

margin-top:10px;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;}

.buttonss >button
{display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15.198px 36.4753px;
gap: 15.2px;
position: absolute;
width: 244px;
height: 74px;

left: calc(50% - 244px/2 - 0.02px);
top:350px;
background-color:transparent;
border-color: black;
border-radius: 6.07921px;}

.buttonss .btn-btn-hero{

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin-left:10px;
padding-left:39px;
color: #FFFFFF;
margin-top: 5px;
}

.btn-btn-hero h3{
   color:black;
}
