 *,*::before,*::after
 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 51px;
text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  
}
 .nav-center h4
 {
 
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #5967E4;
}
.nav-center #link1
{position: absolute;
right: 250px;
top: 45px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #5967E4;
}
.nav-center #link2
{
position: absolute;
right:150px;
top: 45px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #5967E4;
}
.nav-links a
{
text-decoration: none;
}
.nav-links li
{
list-style: none;
}
  



main .container
{
background: #5D5FEF;
border-radius: 31px;
position: absolute;
width: 500px;
height: 200px;
left: 491px;
top: 300px;
filter: drop-shadow(8px 14px 14px #ACACAC);
}
.container a
{
font-size: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #EAEAEA;
margin-left:50px;
}
.container >button
{display: flex;
flex-direction: row;
align-items: flex-start;
padding: 15.198px 36.4753px;
gap: 15.2px;
position: absolute;
width: 244px;
height: 74px;
left: calc(50% - 244px/2 - 0.02px);
top: calc(50% - 74px/2 + 0.37px);
background: radial-gradient(99.77% 100% at 31.97% 99.5%, rgb(52, 50, 164) 0%, rgb(114, 151, 205) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #3434B9;
box-shadow: inset 0px -5px 0px #313686;
border-radius: 6.07921px;}

.container h{

font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 30.396px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
margin-left:10px;
color: #FFFFFF;
}
